// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
/* animation sets */

/* move from / to  */
@font-face
{
	font-family: Aleo
	src: url("../font/Aleo-Light.woff")
}
.p5jsimg
{
	width: 300px
	height: auto
	box-shadow: 0px 0px 4px 0px #000000;
}
.name
{
	font-family: Aleo
	color: white
	font-size: 25px
	margin-top: 40px
	text-shadow: 1px 1px 4px black
}
.title
{
	font-family: Aleo
	color: white
	font-size: 40px
	margin-top: -300px
	text-shadow: 1px 1px 2px black
	font-weight: bold
}
.titlea
{
	font-family: Aleo
	font-size: 30px
	text-shadow: 1px 1px 2px black
	font-weight: bold
	margin-bottom: 20px
}
.description
{
	font-family: Aleo
	text-shadow: 1px 1px 2px black
}
.hello
{
	width: 200px
	height: auto
	display: none
}
.bar
{
	width: 100%
	height: 40px
}
.apa
{
        margin-top: 100px
}
.text1
{
        margin-top:-100px
}
.a
{
	width:620px
	height:auto
        margin-top:20px
}
.b
{
        width:200px
        height:auto
        margin-left:500px
        margin-top:-140px
}
.c
{
	width:620px
	height:auto
}
.d
{
        width:200px
        height:auto
        margin-right:430px
        margin-top:-200px
}
.e
{
        width:100px
        height:auto
}
.f
{
        width:100px
        height:auto
        margin-left:800px
}
.g
{
        width:600px
        height:auto
        margin-top:-150px
}
.h
{
        width:200px
        height:auto
        margin-left:-800px
        margin-top:-300px
        transform:rotateX(180deg)
        transform:rotateY(180deg)
}

.h1
{
        width:200px
        height:auto
        margin-right:-800px
        margin-top:-150px

}


.f1
{
        width:100px
        height:auto
        margin-right:850px
        margin-top:-80px
}

.a1
{
        width:250px
        height:auto
        margin-left:-650px
        margin-top:50px	
}

.a2
{
        width:250px
        height:auto
        margin-left:-10px
        margin-top:-205px	
}

.a3
{
        width:250px
        height:auto
        margin-right:-600px
        margin-top:-260px
}

.f2
{
        width:200px
        height:auto
        margin-top :-50px
}
ul
{
        font-family:Aleo
}
.firstpage
{
	background: rgb(173, 244, 66);
}
.emp
{
	background: rgba(255,255,255,0)!important
	color: white;
}
.presentation
{
	width: 1200px
}
.logo
{
	width: 300px
	height: auto
	margin-top: 20px
	margin-left: 200px
}
.log
{
	float: left
	margin-right: 10px
}
.t
{
	width: 40px
	height: auto
	border: 1px solid white
	box-shadow: 0px 0px 4px 0px #000000
}
span ul li
{
	font-size: 20px
}

p{
	font-family: Aleo
        font-size: 24px
}


