// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
/* animation sets */

/* move from / to  */
@font-face
{
	font-family: Aleo
	src: url("../font/Aleo-Light.woff")
}
.p5jsimg
{
	width: 300px
	height: auto
	box-shadow: 0px 0px 4px 0px #000000;
}
.name
{
	font-family: Aleo
	color: white
	font-size: 25px
	margin-top: 40px
	text-shadow: 1px 1px 4px black
}
.title
{
	font-family: Aleo
	color: white
	font-size: 40px
	margin-top: -300px
	text-shadow: 1px 1px 2px black
	font-weight: bold
}
.titlea
{
	font-family: Aleo
	font-size: 30px
	text-shadow: 1px 1px 2px black
	font-weight: bold
	margin-bottom: 20px
}
.description
{
	font-family: Aleo
	text-shadow: 1px 1px 2px black
}
.hello
{
	width: 200px
	height: auto
	display: none
}
.bar
{
	width: 100%
	height: 40px
}
.apa
{
        margin-top: 100px
}
.text1
{
        margin-top:-100px
}

.ab
{
        width:300px
        height:auto
        margin-top:-50px
}

.a
{
	width:620px
	height:auto
        margin-top:20px
}
.b
{
        width:200px
        height:auto
        margin-left:500px
        margin-top:-140px
}
.c
{
	width:620px
	height:auto
}
.d
{
        width:200px
        height:auto
        margin-right:430px
        margin-top:-200px
}
.e
{
        width:100px
        height:auto
}
.f
{
        width:100px
        height:auto
        margin-left:800px
}
.g
{
        width:600px
        height:auto
        margin-top:-150px
}
.h
{
        width:200px
        height:auto
        margin-left:-800px
        margin-top:-300px
        transform:rotateX(180deg)
        transform:rotateY(180deg)
}

.h1
{
        width:200px
        height:auto
        margin-right:-800px
        margin-top:-150px

}


.f1
{
        width:100px
        height:auto
        margin-right:850px
        margin-top:-80px
}

.a1
{
        width:250px
        height:auto
        margin-left:-650px
        margin-top:50px	
}

.a2
{
        width:250px
        height:auto
        margin-left:-10px
        margin-top:-205px	
}

.a3
{
        width:250px
        height:auto
        margin-right:-600px
        margin-top:-260px
}
.a4
{
        width:700px
        height:auto
}
.a5
{
	width:500px
        height:auto
}

.f2
{
        width:200px
        height:auto
        margin-top :-50px
}
ul
{
        font-family:Aleo
}
.firstpage
{
	background: rgb(66, 134, 244);
}
.bg
{
	width: 1300px
	height: 720px
	margin-top: -20px
	background: url("/build/img/circuit-grounds.jpg")
	background-size: cover
	margin-top: 20px
}
#test
{
	width: 670px
	margin-left: 175px
	position: absolute
}
.emp
{
	background: rgba(255,255,255,0)!important
	color: white;
}
.presentation
{
	width: 1200px
}
.logo
{
	width: 300px
	height: auto
	margin-top: 20px
	margin-left: 200px
}
.log
{
	float: left
	margin-right: 10px
}
.t
{
	width: 40px
	height: auto
	border: 1px solid white
	box-shadow: 0px 0px 4px 0px #000000
}
.secondd
{
	color: rgb(229, 218, 4)
	text-shadow: 1px 1px 2px white
}
.small
{
	font-size: 15px
}
span ul li
{
	font-size: 20px
}

p{
	font-family: Aleo
        font-size: 24px
}
.playertoggle
{
	width: 1360px
	height: 900px
	// background: rgba(255,255,255,0.3);
	background: url("img/circuit-grounds.jpg")
	background-size: cover
	margin-left: 0px
	margin-top: -210px
	position: absolute
	box-shadow: 0px 0px 4px 0px #000000
}
.anybutton
{
	width: 380px
	height: 70px
	background: rgba(229, 2, 176, 0.6)
	margin-left: -340px
	margin-top: -210px
	box-shadow: 0px 0px 4px 0px #000000
	border-radius: 2px
	position: absolute
}
.wall
{
	width: 380px
	height: 430px
	background: rgba(0,0,0,0.6)
	position: absolute
	margin-left: -340px
	box-shadow: 0px 0px 4px 0px #000000
	margin-top: 40px
}
#first
{
	width: 380px
	height: 70px
	margin-top: 5px
	color: rgb(4, 175, 237)
	border: 1px solid rgba(255,255,255,0.6)
}
#second
{
	width: 380px
	height: 70px
	margin-top: 5px
	color: rgb(4, 175, 237)
	border: 1px solid rgba(255,255,255,0.6)
}
#third
{
	width: 380px
	height: 70px
	margin-top: 5px
	color: rgb(4, 175, 237)
	border: 1px solid rgba(255,255,255,0.6)
}
#fourth
{
	width: 380px
	height: 70px
	margin-top: 5px
	color: rgb(4, 175, 237)
	border: 1px solid rgba(255,255,255,0.6)
}
#first:hover, #second:hover, #third:hover, #fourth:hover
{
	background: rgba(0, 181, 221, 0.6)
	transition: all 0.6s
	cursor: pointer
}
#credit
{
	width: 380px
	height: 30px
	background: rgba(255,255,255,0.6)
	margin-top: 85px
	font-family: Aleo
	border: 1px solid white
}
#credit p
{
	font-size: 10px
	line-height: 30px
	color: black
}
.songlist
{
	font-family: Aleo
	margin-top: -30px
	font-size: 16px
	margin-left: 30px
	color: white
}
.album
{
	width: 50px
	height: auto
	margin-top: 10px
	margin-left: -10px
}
.toggleplay
{
	width: 50px
	height: 40px
	background: rgba(255,255,255,0.0);
	border: 1px solid white
	line-height: 40px
	position: relative
	margin-left: 10px
	margin-top: 15px
	float: left
}
.next
{
	width: 50px
	height: 40px
	background: rgba(255,255,255,0.0);
	border: 1px solid white
	line-height: 40px
	position: relative
	margin-left: 10px
	margin-top: 15px
	float: left
}
.prev
{
	width: 50px
	height: 40px
	background: rgba(255,255,255,0.0);
	border: 1px solid white
	line-height: 40px
	position: relative
	margin-left: 120px
	margin-top: 15px
	float: left
}
.stop
{
	width: 50px
	height: 40px
	background: rgba(255,255,255,0.0);
	border: 1px solid white
	line-height: 40px
	position: relative
	margin-left: 10px
	margin-top: 15px
	float: left
}
.toggleplay:hover, .next:hover, .prev:hover, .stop:hover
{
	background: rgba(0, 181, 221, 0.6)
	transition: all 0.6s
	cursor: pointer
}
.details
{
	position: absolute
	width: 500px
	height: 300px
	background: rgba(224, 2, 172, 0.6)
	border-radius: 10px
	box-shadow: 0px 0px 4px 0px #000000
}
.specc
{
	color: rgb(12, 182, 255)
}
#full-page, #giveme-bubles
{
	position: absolute
}
.negara
{
	font-family: Aleo
	color: White;
	font-size : 25px;
   	font-weight:bold;
}

.isitext
{
	font-family: Aleo
	color: white;
	font-size : 10px;
}
