doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Best Thing Ever
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/animations.css' media='screen' title='no title' charset='utf-8')
    // External Javascript from another Libraries [Robby Muhammad Nst]
    // Don't change any line of this code without my premission [Robby Muhammad Nst]
    script(src='build/Ext Javascript/jquery-3.2.1.min.js')
    script(src='build/Ext Javascript/extstyle.js')
    script(src='build/Ext Javascript/p5.js')
    script(src='build/Ext Javascript/p5.dom.js')
    script(src='build/Ext Javascript/p5.sound.js')
    // If you have any external Javascript just enter it here
  body

    article.firstpage

      section.emp#1
        span.title Best Thing Ever
        hr(width="300px", font-family="Aleo", border="none", color="white")
        br
        img(src='build/img/welcome.png').hello
        div.logo
          div.log
            img(src='build/img/p5-sq-reverse.svg').t
          div.log
            img(src='build/img/processing.png').t

      section#2.emp
        img(src='build/img/p5-sq-reverse.svg').p5jsimg
        span.name Robby Muhammad Nst
      section.emp
        span.titlea Javascrip Framework p5js
        span.description Merupakan framework javascript yang sering digunakan
          untuk membuat sketsa ataupun seni yang lainnya.
      section.emp
        img(src='build/img/processing.png' width='120px' height='auto')
        span.description Pada IDE Processing, mendukung beberapa
          bahasa pemrograman untuk membangun sketsa.
          Diantaranya adalah : 
          ul
            li Java
            li Javascript [p5js]
            li Python
            li Java android programming
      // If you want to add another slied, just type new section with emp class under your team work field
      section.emp
        h1 How to make simple Visual Novel 
        h1 Using TyranoBuilder
      
      section.emp
        p First
        img(src="build/img/a.jpg").a 
      section.emp
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section#9.emp
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
              fx: true,
              loop: true
            ]);
      section#12.emp
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    script(src='build/build.js' type='text/javascript')
