doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Best Thing Ever
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/animations.css' media='screen' title='no title' charset='utf-8')
    // External Javascript from another Libraries [Robby Muhammad Nst]
    // Don't change any line of this code without my premission [Robby Muhammad Nst]
    script(src='build/Ext Javascript/jquery-3.2.1.min.js')
    script(src='build/Ext Javascript/extstyle.js')
    script(src='build/Ext Javascript/p5.js')
    script(src='build/Ext Javascript/p5.dom.js')
    script(src='build/Ext Javascript/p5.sound.js')
    script(src='build/Ext Javascript/WebSound.js')
    // script(src='build/Ext Javascript/JavascriptTerrain.js')
    // If you have any external Javascript just enter it here
  body

    article.firstpage
      // Robby workspaces
      section.emp#1
        span.title Best Thing Ever
        br
        img(src='build/img/welcome.png').hello
        div.logo
          div.log
            img(src='build/img/p5-sq-reverse.svg').t
          div.log
            img(src='build/img/processing.png').t

      section#2.emp
        img(src='build/img/p5-sq-reverse.svg').p5jsimg
        span.name Robby Muhammad Nst
      section.emp
        span.titlea Javascrip Framework p5js
        span.description Merupakan framework javascript yang sering digunakan
          untuk membuat sketsa ataupun seni yang lainnya.
      section.emp
        img(src='build/img/processing.png' width='120px' height='auto')
        span.description Pada IDE Processing, mendukung beberapa
          bahasa pemrograman untuk membangun sketsa.
          Diantaranya adalah : 
          ul
            li Java
            li Javascript [p5js]
            li Python
            li Java android programming
      section.emp
        img(src='build/img/p5-sq-reverse.svg').t
        span.description P5js sendiri memiliki banyak libraries yang sangat berguna diantaranya :
          ul
            li.small P5 DOM {Untuk berinteraksi dengan HTML5}
            li.small P5 Sound
            li.small P5 Serial {Memungkinkan menciptakan hubungan serial dengan perangkat}
            li.small P5 Collide 2D {Calculating Collision Detecting pada 2D Geometry}
            li.small Masih banyak lagi, termasuk Dimension vector pada p5js
            li.small Info lebih lengkap dapat dilihat pada <a href="http://https://p5js.org/libraries/">P5JS Libraries</a>
      section.emp
        span.description Pada slide berikutnya adalah 2 buah project yang saya buat dengan P5JS
      section.emp
        div.playertoggle
        div#test
        div.anybutton
          div.prev#prev
          div.toggleplay#toggleplay
          div.next#next
          div.stop#stop
        div.wall
          div#first(onclick='myp5.musicSelection(0)')
            img(src="build/img/mar1.png").album
            span.songlist Maroon 5 - Payphone
          div#second(onclick='myp5.musicSelection(1)')
            img(src="build/img/th.jpg").album
            span.songlist Marshmello - Alone&nbsp&nbsp&nbsp
          div#third(onclick='myp5.musicSelection(2)')
            img(src="build/img/th.jpg").album
            span.songlist Marshmello - Colour&nbsp&nbsp
          div#fourth(onclick='myp5.musicSelection(3)')
            img(src="build/img/dont.jpg").album
            span.songlist The Chainsmokers&nbsp&nbsp&nbsp&nbsp&nbsp
          div#credit
           p Created by: Robby Muhammad Nst
      section.emp
        div#giveme-bubles
      section.emp
        div#full-page
        div.details
          span.titlea.specc Terrain Sample
          br
          span.description Pada program ini menggunakan : 
          br
          br
          br
          ul
            li.description Vertex drawing
            li.description Perlin noise
            li.description BeginShape without paramater
          br
          br
          br
          span.small.specc Robby Muhammad Nst
      // If you want to add another slied, just type new section with emp class under your team work field
      // Stephen Workspaces
      section.emp
        p How to make Visual Novel
        p Using TyranoBuilder
        img(src="build/img/abc.png")
      section.emp
        p.apa Apa itu Visual Novel ??
        img(src="build/img/1.png").b
        img(src="build/img/1.png").d
      section.emp
        ul
          img(src="build/img/chitoge1.png").e
          li Apa saja yang dibutuhkan di dalam Visual Novel ??
          li 1. Story ( Cerita )
          li 2. Gambar BackGround 
          li 3. Character      
      section.emp
        img(src="build/img/hatsune1.gif").f
        img(src="build/img/hatsune1.gif").f1
        p.text1 TyranoBuilder
        img(src="build/img/a.jpg").a 
      section.emp
        p Filtur" yang terdapat di dalam 
        img(src="build/img/b.jpg").c
      section.emp
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section#9.emp
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
              fx: true,
              loop: true
            ]);
      section#12.emp
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    script(src='build/build.js' type='text/javascript')
